body {
    background-color: #ffe4c4;
  }
h1 {
    color: #d63638;
    text-align: left;
  }

  h2 {
    color: #001c05;
    text-align: left;
  }

  h3 {
    color: #0a4b78;
    text-align: left;
  }


  p {
    font-weight: 500;
    font-family: cursive;
  }
